@font-face {
  font-family: "SF";
  src: url("/assets/fonts/SFProDisplay-Black.woff2") format("woff2"), url("/assets/fonts/SFProDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "SF";
  src: url("/assets/fonts/SFProDisplay-Heavy.woff2") format("woff2"), url("/assets/fonts/SFProDisplay-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "SF";
  src: url("/assets/fonts/SFProDisplay-Bold.woff2") format("woff2"), url("/assets/fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF";
  src: url("/assets/fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("/assets/fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF";
  src: url("/assets/fonts/SFProDisplay-Medium.woff2") format("woff2"), url("/assets/fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF";
  src: url("/assets/fonts/SFProDisplay-Regular.woff2") format("woff2"), url("/assets/fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF";
  src: url("/assets/fonts/SFProDisplay-Light.woff2") format("woff2"), url("/assets/fonts/SFProDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
html {
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img, picture, video, canvas, svg, span {
  display: block;
  max-width: 100%;
}

textarea {
  font-family: inherit;
}

.hero-wrap, .box__middle div:first-child div div:nth-child(3), .box__middle div:first-child div div:nth-child(2), .box__middle div:first-child div div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.box__middle div:first-child div div:nth-child(3), .box__middle div:first-child div div:nth-child(2), .box__middle div:first-child div div:nth-child(1) {
  border: 0.1rem dashed #324A35;
  padding: 3rem;
  border-radius: 1.5rem;
}

body {
  font-family: SF;
  font-size: 1.6rem;
  padding: 2rem;
  background-color: #1A1A1A;
  color: white;
}

h1 {
  font-size: 7.4rem;
  line-height: 80%;
  margin-left: -0.6rem;
  margin-bottom: 3rem;
}

p {
  line-height: 120%;
}

.box {
  padding: 3rem;
  background-color: #262626;
  border-radius: 5rem;
}

.btn {
  color: #64DA72;
  border: 0.2rem solid #64DA72;
  padding: 1rem 2.2rem 1.2rem;
  font-size: 2.4rem;
  font-weight: 300;
  width: -moz-fit-content;
  width: fit-content;
  transition: color ease-in-out 300ms, background-color ease-in-out 300ms;
  border-radius: 10rem;
}
.btn:hover {
  background-color: #64DA72;
  color: black;
}

@media (max-width: 600px) {
  .btn {
    width: 100%;
    text-align: center;
    padding: 1.4rem 1.5rem 1.5rem;
  }
}
.header__box {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  gap: 5rem;
}

.box__top {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.box__middle {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 3rem;
}
.box__middle div:first-child div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.box__middle div:first-child div div:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
.box__middle div:first-child div div:nth-child(2) {
  grid-column: 3/5;
}
.box__middle div:first-child div div:nth-child(3) {
  grid-column: 3/5;
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: white;
}
.logo span {
  padding-top: 0.5rem;
  font-weight: 300;
}

.col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

h1 span {
  font-size: 4.2rem;
  font-weight: 700;
  margin-left: 0.3rem;
}

.box__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box__bottom span {
  font-size: 4.8rem;
  font-weight: 700;
}

.img-wrap img {
  max-width: 25rem;
}

.hero-wrap {
  height: 100%;
  gap: 2rem;
  padding: clamp(11rem, 11rem + (1vw - 0.32rem) * 2.8409, 15rem) clamp(1.5rem, 1.5rem + (1vw - 0.32rem) * 1.5625, 4rem) clamp(5rem, 5rem + (1vw - 0.32rem) * 7.1023, 15rem);
}
.hero-wrap h1 {
  max-width: 25ch;
  text-align: center;
}
.hero-wrap p {
  font-size: clamp(1.8rem, 1.8rem + (1vw - 0.32rem) * 0.4261, 2.4rem);
  max-width: 55ch;
  text-align: center;
  margin-bottom: clamp(1rem, 1rem + (1vw - 0.32rem) * 0.7102, 2rem);
}

.main-slider__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.main-slider__wrap div {
  background-color: black;
  width: 100%;
  aspect-ratio: 1/1;
}

@media (max-width: 767px) {
  .main-slider__wrap {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=main.css.map */