.btn {
	background-color: $clr-dark;
	color: $clr-light;
	padding: .9rem 1.5rem 1rem;
	font-size: larger;
	font-weight: 400;
	width: fit-content;
	transition: opacity ease-in-out 300ms;
	border-radius: $br-xl;

	&:hover {
		opacity: 0.7;
	}

	&--primary {
		background-color: $clr-primary;
		color: $clr-dark;
	}
}


// *** Media ***
@include mobile-portrait {
	.btn {
		width: 100%;
		text-align: center;
		padding: 1.4rem 1.5rem 1.5rem;
	}
}