.btn {
	background-color: $clr-dark;
	color: $clr-light;
	padding: .6rem 1.6rem;
	width: fit-content;
	transition: color, background ease-in-out 300ms;
	border-radius: 10rem;

	&:hover {
		background-color: $clr-baseUltraDark;
		color: $clr-baseUltraLight;
	}
}

.btn--primary {
	background-color: $clr-primary;
	color: $clr-dark;

	&:hover {
		background-color: $clr-secondary;
		color: $clr-light;
	}
}