.cases__items {
	padding-top: 2rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
}

.cases__item {
	padding: 4rem;
	background-color: $clr-box;
	border-radius: $br-l;
	overflow: hidden;
	min-height: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cases__badge {
	border: solid .1rem white;
	padding: .5rem 1.2rem;
	border-radius: 2rem;
	width: fit-content;
}

.cases__link::before {
	content: ' \2192';
	margin-right: .5rem;
}