header {
	position: absolute;
	width: 100%;
}

.header-wrap {
	display: grid;
	grid-template-columns: max-content max-content;
	align-items: center;
	justify-content: space-between;
	padding: 2rem clamp(1.5rem, calc(1.5rem + ((1vw - 0.32rem) * 1.5625)), 4rem);
}

.logo-wrap {
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 1rem;
	align-items: center;

	span {
		font-size: 1.8rem;
	}
}


// *** Media ***
@include mobile-portrait {
	.logo-wrap span {
		display: none;
	}
}