.hero-wrap {
	height: 100%;
	@extend %flex-col;
	gap: 2rem;
	align-items: center;
	justify-content: center;
	padding: 15rem clamp(1.5rem, calc(1.5rem + ((1vw - 0.32rem) * 1.5625)), 4rem);

	h1 {
		max-width: 25ch;
		text-align: center;
	}

	p {
		font-size: $fontSize-M;
		max-width: 55ch;
		text-align: center;
		margin-bottom: 2rem;
	}
}