.main-slider__wrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;

	div {
		background-color: $clr-dark;
		width: 100%;
		aspect-ratio: 1/1;
	}
}



// *** Media ***
@include mobile-landscape {
	.main-slider__wrap {
		grid-template-columns: 1fr;
	}
}