body {
	font-family: $font-default;
	font-size: $fontSize-default;
	padding: 2rem;
	background-color: $clr-background;
	color: $clr-light;
}

h1 {
	font-size: $fontSize-Huge;
	line-height: 80%;
	margin-left: -.6rem;
	margin-bottom: 3rem;
}

p {
	line-height: 120%;
}

.box {
	padding: 3rem;
	background-color: $clr-box;
	border-radius: $br-l;
}