body {
	font-family: $font-default;
	font-size: $fontSize-default;
}

.container  {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  padding: 0 clamp(1.5rem, calc(1.5rem + ((1vw - 0.32rem) * 2.2321)), 4rem);
}

h1, h2, h3, h4, h5 {
	font-family: $font-title;
	line-height: 100%;
}

h1 {
	font-size: $fontSize-Huge;
}

h2 {
	font-size: $fontSize-XXL;
}