body {
	font-family: $font-default;
	font-size: $fontSize-default;
	padding: 2rem;
	background-color: $clr-background;
	color: $clr-light;
}

h1 {
	font-size: $fontSize-Huge;
	line-height: 90%;
	margin-left: -.6rem;
	margin-bottom: 3rem;
}

h2 {
	font-size: $fontSize-M;
	@extend %font-bold;
}

h3 {
	font-size: $fontSize-M;
	@extend %font-bold;
}

p {
	line-height: 120%;
}

.box {
	padding: 4rem;
	background-color: $clr-box;
	border-radius: $br-l;
	overflow: hidden;
}