@mixin desktop() {
	@media (max-width: $breakpoint-xxl) {
		@content;
	}
}

@mixin laptop() {
	@media (max-width: $breakpoint-xl) {
		@content;
	}
}

@mixin tablet() {
	@media (max-width: $breakpoint-l) {
		@content;
	}
}

@mixin mobile-landscape() {
	@media (max-width: $breakpoint-m) {
		@content;
	}
}

@mixin mobile-portrait() {
	@media (max-width: $breakpoint-s) {
		@content;
	}
}