%flex-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

%grid-2box {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}

%border-dashed {
	border: .1rem dashed $clr-dashed;
	padding: 3rem;
	border-radius: $br-s;
	@extend %flex-center;
}

%font-bold {
	font-weight: 700;
}

%font-semiBold {
	font-weight: 600;
}

%font-light {
	font-weight: 300;
}