@font-face {
  font-family: "Caviar";
  src: url("/assets/fonts/CaviarDreams.woff2") format("woff2"), 
	url("/assets/fonts/CaviarDreams.woff") format("woff");
}

@font-face {
  font-family: "Oxygen";
  src: url("/assets/fonts/Oxygen.woff2") format("woff2"), 
	url("/assets/fonts/Oxygen.woff") format("woff");
}