$content-width: 1440px;


// Fonts ***
$font-default: Oxygen;
$font-title: Caviar;
$fontSize-default: 1.6rem;
$fontSize-Huge: 4.8rem;
$fontSize-XXXL: 4.2rem;
$fontSize-XXL: 3.6rem;
$fontSize-XL: 3.2rem;
$fontSize-L: 2.8rem;
$fontSize-M: 2.4rem;
$fontSize-S: 2rem;
$fontSize-XS: 1.8rem;
$fontSize-XXS: 1.6rem;
$fontSize-XXXS: 1.4rem;
$fontSize-Tiny: 1.2rem;


// Colors ***
$clr-primary: green;
$clr-secondary: blue;
$clr-dark: black;
$clr-light: white;
$clr-baseUltraDark: rgb(35, 35, 35);
$clr-baseDark: rgb(70, 70, 70);
$clr-baseNormal: rgb(120, 120, 120);
$clr-baseLight: rgb(185, 185, 185);
$clr-baseUltraLight: rgb(230, 230, 230);


// Breakpoints ***
$breikpoint-desktop: 1280px;
$breikpoint-laptop: 1024px;
$breikpoint-tablet: 768px;
$breikpoint-mobile: 320 px;