$content-width: 1440px;


// Fonts ***
$font-default: Tilda;
$font-title: Tilda;
$fontSize-default: 1.6rem;
$fontSize-Huge: clamp(3.6rem, calc(3.6rem + ((1vw - 0.32rem) * 1.4205)), 5.6rem);
$fontSize-XXXL: 4.2rem;
$fontSize-XXL: 3.6rem;
$fontSize-XL: 3.2rem;
$fontSize-L: 2.8rem;
$fontSize-M: 2.4rem;
$fontSize-S: 2rem;
$fontSize-XS: 1.8rem;
$fontSize-XXS: 1.6rem;
$fontSize-XXXS: 1.4rem;
$fontSize-Tiny: 1.2rem;


// Breakpoints ***
$breakpoint-xxl: 1440px;
$breakpoint-xl: 1280px;
$breakpoint-l: 1024px;
$breakpoint-m: 767px;
$breakpoint-s: 479px;


// Colors ***
$clr-primary: #64DA72;
$clr-secondary: blue;
$clr-dark: black;
$clr-light: white;
$clr-baseUltraDark: rgb(35, 35, 35);
$clr-baseDark: rgb(70, 70, 70);
$clr-baseNormal: rgb(120, 120, 120);
$clr-baseLight: rgb(185, 185, 185);
$clr-baseUltraLight: rgb(230, 230, 230);


// *** Border Radius ***
$br-xl: 10rem;
$br-l: 5rem;
$br-m: 2rem;
$br-s: 1rem;
$br-xs: .5rem;